body { 
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 22px;
    width: 100%;
    margin: 0;
    padding: 0;
    letter-spacing: 1.2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background: url(images/background.jpg);
}

/*------------------------- HEADER ----------------------*/

.header {
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgb(142, 195, 176);
    z-index: 1000;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu,
.logo {
    text-decoration: none;
    color: white;
    padding: 20px;
}

.logo-img {
    height: 70px;
    width: auto;
    margin-right: 40px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    padding: 30px;
    background-color: #9ed5c5;
    border-radius: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #ffffff;
    background-color: #9ed5c5;
}

.imgs {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.img {
    margin-top: 100px;
    width: 400px;
    height: auto;
}

/*----------------------- END HEADER ------------------------*/

.section {
    margin-top: 170px;
    margin-bottom: 100px;
    margin-left: 40px;
    width: 95%;
}

.cont {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 2rem;
    text-align: left;
}

.contacts,
.contact-form {
    margin: 10px;
    padding: 1rem;
    width: 90%;
}

.c-img-socials {
    height: 40px;
    width: 40px;
    margin-right: 7px;
}

.div-inp,
.button {
    margin: 5px;
}

.div-inp input,
.div-inp textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 0.5px solid gray;
    box-sizing: border-box;
}

.div-inp textarea {
    height: 200px;
    resize: none;
}

.button {
    box-shadow: inset 0px 1px 50px 0px #0de5c5;
    background: linear-gradient(to bottom, #9ed5c5 5%, #def5ef 100%);
    border-radius: 6px;
    border: 1px solid #5ecd51;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
}

.button:hover {
    background: linear-gradient(to bottom, #def5ef 5%, #9ed5c5 100%);
}

.button:active {
    position: relative;
    top: 1px;
}

.candle {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.verjintext {
    text-align: center;
    margin-bottom: 80px;
}

.films {
    margin-top: 150px;
    margin-bottom: 100px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin: 20px;
}

.button2 {
    padding: 10px 30px;
    background-color: #9ed5c5;
    box-shadow: inset -1px 3px 8px 5px #ffc5e1a5, 2px 5px 16px 0px #ffdcedc8,
        5px 5px 9px 13px rgba(0, 0, 0, 0);
    border-radius: 15px;
}

.z {
    display: flex;
    justify-content: space-between;
}

.game {
    margin-top: 150px;
}

.poqr {
    width: 200%;
    height: 200%;
}

.poqra {
    width: 70%;
    height: auto;
}

.poqrb {
    width: 200px;
    height: auto;
    padding: 10px;
}

.poqrd {
    height: 400px;
    width: auto;
}

.mary {
    display: flex;
    justify-content: space-between;
}

.bg {
    width: 95%;
    height: auto;
}

.myButton {
	box-shadow: 3px 4px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:15px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.cards{
    display:flex;
    justify-content:space-between;
}

.book_card{
    background-color: #BCEAD5;
    border-radius: 15px;
    padding:20px;
    margin:15px;
}

.book_photo{
    width:350px;
    height:400px;
}

.cardr{
    display:flex;
    flex-direction: column;
}

.kk{
    display: flex;
    flex-direction: row;
}

.k{
    background-color: #BCEAD5;
    border-radius: 15px;
    padding: 25px;
    margin-bottom: 10px;
}
.kimg{
    width: 200px;
    height: auto;
}

.trq{
 display: flex;
 justify-content: space-between; 
}

.hex{
    display:flex;
    flex-direction: column;
    background-color:#BCEAD5;
    border: 2px solid;
    border-color: #8EC3B0;
    border-radius: 15px;
    margin-right: 0px;
    padding:10px;
}

.hm{
    display: flex;
    flex-direction: row;
}

.green{
    color: #8EC3B0;
 }

.nm{
    display: flex;
    flex-direction: column;
}

.nane{
    display: flex;
    flex-direction: row;
}

.ereq{
    display: flex;
    flex-direction: row;
}

.gn{
    display: flex;
    flex-direction: column;
}

.hs{
    display: flex;
    justify-content: flex-end;
}

.game{
      display: block;
}

.flags{
display: flex;
flex-direction: column;
margin-bottom: 15px;
width: 1000px;
}

.flag{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
border-radius: 15px;
/*----background-color: #BCEAD5;------*/
width: 120%;
margin: 10px;
padding: auto;
}

.l{
width: 40%;
margin: 10px;
}

.bgf{
width: 800 px;
margin-right: 40px;
margin-left: 40px;
}

.w{
width: 1400px;
}


.film-card{
/*--- border ---*/
border: 2px solid;
border-color: #8EC3B0;
border-radius: 15px;
/*--- end border ---*/
padding: 50px;
text-align: center;
 max-width: 100%;
  height: auto;
  margin: 30px auto; 
}

.blf{
display: flex;
justify-content: center;
}
/*------------------------- FOOTER -----------------------*/

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(142, 195, 176);
    z-index: 1000;
}

.designed {
    position: fixed;
    right: 10px;
    bottom: 5px;
}

.social {
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    height: 50px;
    width: auto;
}

/*--------------------------- END FOOTER ----------------------*/